<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.shtml" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="JSON" path="*.json" verb="GET,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Read" preCondition="bitness64" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
